<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Exercice 2</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
  </head>
  <body ng-app>
    <div>
      <input type="button" name="paragraphe1" value="Paragraphe 1" ng-click="para1=true">
      <p ng-show="para1">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      <input type="button" name="paragraphe2" value="Paragraphe 2" ng-click="para2=true">
      <p ng-show="para2">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
    </div>
  </body>
</html>
